// 1. Your custom variables and variable overwrites.
$global-link-color: #DA7D02;

// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";

* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}

#nav {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgb(255, 255, 255) 10%, rgba(255, 255, 255, 0) 100%); 
}

#navmenu {
  margin: 0px 20px;
}

#navlogo {
  margin: 0px;
}

.booknav {
  margin: 0px 20px;
}

.booknav {
  margin: 0px 20px;
}

#homehero {
  background-image: url(../assets/homehero.jpg);
  background-size: cover;
}

// filter: invert(67%) sepia(100%) saturate(326%) hue-rotate(1deg) brightness(89%) contrast(89%);