// 1. Your custom variables and variable overwrites.
$global-link-color: #dbac6d;

// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";

* {
  font-family: Arial, Helvetica, sans-serif;
}

#nav {
// filter: invert(100%) sepia(0%) saturate(0%) brightness(100%) contrast(100%); 
  background-image: url(../assets/jbl_Pattern_Watermark.jpg);
  background-size: cover;
}

#navmenu {
  margin: 0px 20px;
}

#navtext {
  color: #dbac6d;
  font-stretch: expanded;
  font-weight: 100;
}

.navlogo {
  height: 150px;
  padding: 10px 10px 20px 10px;
  // filter: invert(67%) sepia(100%) saturate(326%) hue-rotate(1deg) brightness(89%) contrast(89%);
}

.uk-offcanvas-bar {
  background-image: url(../assets/jbl_Pattern_Watermark.jpg);
}

#hamburger {
  filter: invert(73%) sepia(62%) saturate(510%) hue-rotate(0deg) brightness(90%) contrast(85%);
}

#bookhidden {
  padding: 20px;
  font-size: smaller;
  color: #dbac6d;
  font-stretch: expanded;
  font-weight: 50;
}

.sidenavlogo {
  height: 150px;
  width: 170px;
  padding: 20px;
}

#closebutton {
  outline: none;
  border: none;
  background-color: transparent;
  color: #dbac6d;
  font-size: 20pt;
}

.booknav {
  margin: 0px 20px;
  color: #dbac6d;
}

#mobilemenu {
background-color: black;
}

#homehero {
  background-image: url(../assets/homehero.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 550px;
}

#homeabout {
  background-image: url(../assets/homeabouttwo.jpg);
  background-size: cover;
}

#abouttitle {
  color: #dbac6d;
  font-weight: 100;
  font-stretch: expanded;
}

.paratext {
  color: whitesmoke;
  font-weight: 100;
}

#whitegradient {
  background: rgb(255,255,255);
background: -moz-radial-gradient(circle, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 150%);
background: -webkit-radial-gradient(circle, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 150%);
background: radial-gradient(circle, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 150%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

#elevate {
  padding: 50px;
}

#whatson {
  background-image: url(../assets/fire2.jpg);
  background-size: cover;
  height: 350px;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 0px;
}

#menu {
  background-image: url(../assets/cocktails.jpg);
  background-size: cover;
  height: 350px;
  background-position: center bottom;
  background-repeat: no-repeat;
  padding: 0px;
}

#events {
  background-image: url(../assets/events.jpeg);
  background-size: cover;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0px;
}

#homethumb {
  color: white;
  font-weight: 700;
  background: rgb(0,0,0);
  background: -moz-linear-gradient(140deg, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 40%);
  background: -webkit-linear-gradient(140deg, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 40%);
  background: linear-gradient(140deg, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 40%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1); 
  height: 300px;
  margin: 0px;
  padding: 20px;
}

.resbox{
  height: 400px;
}

.bluecontainer {
  background-color: #0c3151;
}

.darkbluecontainer {
  background-color: #0b2641;
}

.goldcontainer {
  background-color: #dbac6d;
}

.blackcontainer {
  background-color: black;
}

#whatsonhero {
  background-image: url(../assets/fire.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  height: 525px;
}

#giftvoucherhero {
  background-image: url(../assets/giftvoucherhero.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  height: 550px;
}

#vouchertitle {
  color: #0b2641;
  font-weight: 100;
  font-stretch: expanded;
}

#menuhero {
  background-image: url(../assets/menuhero.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 550px;
}

#eventshero {
  background-image: url(../assets/inside.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 550px;
}

#contacthero {
  background-image: url(../assets/view3.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  height: 425px;
}

#footnav {
  // filter: invert(100%) sepia(0%) saturate(0%) brightness(100%) contrast(100%); 
    background-image: url(../assets/jbl_Pattern_Watermark.jpg);
    background-size: cover;
    align-items: center;
    justify-content: center;
  }

.address {
  text-align: center;
  color: #dbac6d;
  font-weight: 100;
  font-stretch: expanded;
}


@media only screen and (max-width: 811px) {
  #homehero {
    background-size: cover;
    background-attachment: scroll;
    height: 500px;
  }
  #whatson {
    height: 270px;
  }
  
  #menu {
    height: 270px;
  }
  
  #events {
    height: 270px;
  }
  #homethumb {
    font-size: medium;
    height: 270px;
  }
  #navtext {
    font-stretch: expanded;
    font-size: small;
  }
}

@media only screen and (max-width: 550px) {
  #whatson {
    height: 150px;
  }
  
  #menu {
    height: 150px;
  }
  
  #events {
    height: 150px;
  }
  .bluecontainer {
    background-color: #0c3151;
    height: 500px;
  }
  #abouttitle {
    margin-top: 200px;
  }
  #homethumb {
    height: 150px;
    font-size: small;
  }
}

// filter: invert(67%) sepia(100%) saturate(326%) hue-rotate(1deg) brightness(89%) contrast(89%);