// 1. Your custom variables and variable overwrites.
$global-link-color: #D4Af37;

// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";

* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}

#nav {
// filter: invert(100%) sepia(0%) saturate(0%) brightness(100%) contrast(100%); 
  background-image: url(../assets/jbl_Pattern_Watermark.jpg);
  background-size: cover;
}

#navmenu {
  margin: 0px 20px;
}

#navtext {
  color: #D4Af37;
}

.navlogo {
  height: 150px;
  padding: 10px 10px 20px 10px;
  // filter: invert(67%) sepia(100%) saturate(326%) hue-rotate(1deg) brightness(89%) contrast(89%);
}

.uk-offcanvas-bar {
  background-image: url(../assets/jbl_Pattern_Watermark.jpg);
}

#hamburger {
  filter: invert(73%) sepia(62%) saturate(510%) hue-rotate(0deg) brightness(90%) contrast(85%);
}

.sidenavlogo {
  height: 150px;
  width: 170px;
  padding: 20px;
}

#closebutton {
  outline: none;
  border: none;
  background-color: transparent;
  color: #D4Af37;
  font-size: 20pt;
}

.booknav {
  margin: 0px 20px;
  color: #D4Af37;
}

#mobilemenu {
background-color: black;
}

#homehero {
  background-image: url(../assets/homehero.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 550px;
}

#homeabout {
  background-image: url(../assets/homeabouttwo.jpg);
  background-size: cover;
}

#whitegradient {
  background: rgb(255,255,255);
background: -moz-radial-gradient(circle, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 150%);
background: -webkit-radial-gradient(circle, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 150%);
background: radial-gradient(circle, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 150%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

// filter: invert(67%) sepia(100%) saturate(326%) hue-rotate(1deg) brightness(89%) contrast(89%);